*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(#a3a3a73d, #61616362), url('aboutimage.jpg');
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
    overflow: hidden;

}


.dataabout {
    font-family: "Roboto Condensed", Sans-serif;
    
   
    padding: 100px;
    /* background-color: #f4f4f4; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
}
.about-container {
    margin-bottom: 100px;
    background-color:  #25283975;
    /* width: 70%; */
    height: 80%;
    margin-top: 100px;
    max-width: 1000px;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    animation: fadeIn 1.5s ease-out;
}
.about-image {
    width: 40%;
}
.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-text {
    padding: 40px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: textanimate 1s ease-in-out;
}
.about-text h2 {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 20px;
}
.about-text p {
    color: #fff;
    font-size: 18px;
    line-height: 1.6;
}
.about-text p span{
    color: #000107fb;
    font-size: 2rem;

}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
@keyframes textanimate {
    from{
        transform: translateY(20px);
    }to{
        transform: translateY(0);
    }
    
}
@media (max-width:700px) {
    .about-text {
        padding: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation: textanimate 1s ease-in-out;
    }

    .about-text h2 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 10px;
}
.about-text p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1;
}
.about-text p span{
    color: #000107fb;
    font-size: 1.5rem;

}
}