*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(87, 126, 141, 0.555),rgba(6, 92, 141, 0.863)) ,url(img.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;

}
#navigationbar{
    display: flex;
    /* background-color:rgba(174, 223, 168, 0.438); */
    width: 400;
    color: white;

}

.primary,ul{
    margin: auto 30px;
    display: flex;
    float: right;
 
}
.primary2{
    margin: 20px 40px;
    flex: auto;
    letter-spacing: 1.8px;
}
nav{
    height: 70px;
}
nav ul{
float: right;
margin: 33px 4px;
}
nav li{
    display: inline-block;
    list-style: none;
}
nav ul li a{
    font-size: 15px;
    text-transform: uppercase;
    padding: 30px 30px;
    color: rgb(248, 239, 239);
    text-decoration: none;
    
}
nav li a:hover{
color: rgb(4, 55, 88);
transition: all 0.7sec ease 0% ;
}

#seconddiv{
position: relative;
padding: 200px 45px;
text-align: center;
color: white;
font-family:Arial, Helvetica, sans-serif;
}
.btn{
border: 1px solid white;
border-radius: 20px;
background-color: rgba(37, 125, 177, 0.952);
color: white;
padding: 10px 20px;
font-size: 15px;
}

.btn:hover{
border: 1px solid white;
border-radius: 20px;
background-color:rgba(23, 79, 117, 0.911) ;
color: white;
padding: 10px 20px;

}
.item{
margin: auto;


}

h1{
    font-size: 50px;
}


