*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.main{
   
    position: fixed;
    top: 0;
    /* overflow: hidden; */
    z-index: 10000;
}
.nav{
    background-color: #252839;
   
    height: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 3px;
   
}.navlogo img{
    height: 60px;
}
.nav-part2{
    display: flex;
    gap: 4vw;
}
.nav-part2 li{
    font-size: 1.1rem;
    list-style: none;

} 
.nav-part2 li a{
    text-decoration: none;
    color: #fff;
    font-family: "Roboto Condensed", Sans-serif;

} 
.nav-part2 li a:hover {
   
    color: #ccc;

} 
.nav i{
    font-size: 1.6rem;
    font-weight: 800;
    display: none;

}

   @media (max-width:700px) {
    
    .nav{
       
        height: 40px;
        padding: 0 1vw;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 1px;
       
    }
    .nav-part2 li{
        font-size: 0.7em;
        list-style: none;
    
    } 
    .navlogo img{
        height: 40px;
    }

    #conatiner{
        background-position: center;

display: grid;
        height: 80%;   
    }
    .info {
        padding-top: 10px;
        padding-left: 10px;
    }
    
   #conatiner .info h1 {

        font-size: 7vw;
        padding-bottom: 8px;
    }
    
  #conatiner  .info .parahome  {
    /* display: none; */
    display: flex;
    font-size: 1em;

    
    }
    
   }


nav li a:hover{
    color: #ccc;
}
#conatiner{
    background-image:url(pexels-pixabay-267885.jpg);
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 69%;
    height: 90%;
    width: 100%;
    font-family: "Roboto Condensed", Sans-serif;
    display: grid;
    grid-template-columns: repeat(2,1000px);
    animation: imagechange 20s infinite ease-in-out;

}
@keyframes imagechange  {
    0%{
        background-image: url(pexels-pavel-danilyuk-7944035.jpg);
        opacity: 0.8;
    }
    20%{
        background-image: url(img.jpg);
        opacity: 0.8;
    }40%{
        background-image: url(home\ image\ 2.jpg);
        opacity: 0.8;
    }
    60%{
        background-image: url(pexels-godisable-jacob-226636-901962.jpg);
        opacity: 0.8;
    }80%{
        background-image:url(pexels-pixabay-267885.jpg);
        opacity: 0.8;

    }100%{
        background-image: url(img.jpg);
        opacity: 0.8;;

    }
    
}
.info {
    padding-top: 130px;
    padding-left: 100px;
    color: #252839;
}

.info h1 {
    font-size: 6vw;
    padding-bottom: 10px;
    position: relative;
    -webkit-text-stroke: 0.1vw #fff;
}

.info p {
    font-size: 1.4rem;
    line-height: 2rem;
    word-spacing: 0.7rem;
    text-align: justify;
    padding-left: 1rem;
    color: #F8FAE5;

}h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: #252839;
    -webkit-text-stroke: 0vw #fff;
    border-right: 5px solid #02131b;
    overflow: hidden;
    width: 0;
    height: 100%;
    animation: animate 6s linear  infinite;

}@keyframes animate {
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 53%;
    }
}.mainlec {
    width: 100%;
    margin: auto;
}
 .mainlec .divlec {    
    background-color: #33364b;
    
    border-radius: 10px;
    /* border: 2px solid rgba(37, 48, 61, 0.192); */
    overflow: hidden;
    transition: transform 1s ease, box-shadow 0.4s ease;
    height: 100%;
    box-shadow:0px 15px 30px  #3d3e4b4f;
    width: 120%;
}
.mainlec .divlec:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(112, 113, 114, 0.3);
}
.mainlec .lecimg {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.mainlec .lecimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease;
}
.lecimg img:hover {
    transform: scale(1);
}
.headlec, .footlec {
    text-align: center;
    padding: 20px 2px;
    transition: color 1s ease;
}
.headlec p, .footlec p       {
   
    padding-bottom: 10px;
    
}
.divlec:hover .headlec p, .divlec:hover .footlec p {
    color: #ccc;
}
.lecpara {
    transform: scale(1.05);
}.conatinerlecture a {
    text-decoration: none;
    color: white;
    display: block;
    transition: color 1s ease;
}
.lecpara a:hover {
    color: #ccc;
}
.homelec{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 70px;
    flex-wrap: wrap;
    gap: 90px;
    padding-bottom: 70px;
}.section{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
}.section h3{
    font-size: 3rem;
    color: #252839;
    font-family: "Roboto Condensed", Sans-serif !important;

    

}