*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   margin: 0;
   padding: 0;
   width: 100vw;
   height: 100vh;
    background-color: #fff;

}
.mainlec{
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: #252839;
    font-family: "Roboto Condensed", Sans-serif;
    flex-wrap: wrap;


}

.headp{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 90px;
    font-size: 1.2rem;

}
.headh4{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;   
}
.mainlec {
    width: 90%;
    margin: auto;
}
.conatinerlecture {
    display: grid;
    grid-template-columns: repeat(3,1fr );
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
    padding: 70px;
    padding-top: 30px;
    font-family: "Roboto Condensed", Sans-serif !important;

}
 .divlec {
    background-color: #33364b;
    border-radius: 10px;
    /* border: 2px solid rgba(37, 48, 61, 0.192); */
    overflow: hidden;
    transition: transform 1s ease, box-shadow 0.4s ease;
    height: 100%;
}
.divlec:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}
.lecimg {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.lecimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease;
}
.lecimg img:hover {
    transform: scale(1);
}
.headlec, .footlec {
    text-align: center;
    padding: 20px 20px;
    transition: color 1s ease;
}
.headlec p, .footlec p       {
   
    padding-bottom: 10px;
    
}
.divlec:hover .headlec p, .divlec:hover .footlec p {
    color: #ccc;
}
.lecpara {
    transform: scale(1.05);
}.conatinerlecture a {
    text-decoration: none;
    color: white;
    display: block;
    transition: color 1s ease;
}
.lecpara a:hover {
    color: #ccc;
}
@media (max-width:700px) {
    .conatinerlecture {
        grid-template-columns: repeat(2,1fr );
        gap: 20px;
        padding: 74px;
        padding-top: 20px;
    
    }

    .headp{      
        margin-top: 90px;
        font-size: 0.9rem;
    
    }
    .headh4{
        
        margin: 15px;
        font-size: 2rem;
          
    }
}