*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.main{
    display: flex;
    background-image: linear-gradient( to right,rgba(141, 138, 138, 0.466),rgba(128, 128, 128, 0.459)),url(imggg.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
   background-size: cover;

}

.container{
    display: inline-block;
    margin: 70px 70px;
    /* background: linear-gradient(45deg, #05a1d1e8 10%, #20718ffb 20%, #0a4686bb 60%); */
background-color: #fff;
    display: inline-block;
  
    height: 30rem;
    box-shadow: 5px 10px 20px  rgba(66, 70, 71, 0.61);
    padding: 3rem 4rem;
    border-radius: 10px;
    text-align: center;

}

input{
    background-color:#fff;
    color: rgb(6, 50, 87);
}
input{
border-radius: 4px;
border: 1px solid rgba(0, 0, 0, 0.932);
padding: 10px 20px;
margin: 4px;
}
.btn{
background-color:#252839 ;
color:white;
padding:5px 20px ;
margin-top: 10px;
border: 1px solid rgb(6, 46, 73) ;
border-radius: 6px;
width: 220px;
font-size: 1rem;

}
.btn:hover{
    background-color:#0b0c13;

}
.inputlogin::placeholder{
color: #858484;
}
h2{
    font-size: 3rem;
    color:    #252839;
    font-family: 'Nunito', sans-serif;

}
a{
    text-decoration: none;
    list-style: none;
  
    color: #252839;
    padding: 3px;
    margin: 3px;
    font-size: 1rem;
}
h1{
    color: rgb(255, 255, 255);
    font-size: 5rem;
    margin: 85px 100px;
    font-family: 'Nunito', sans-serif;
word-spacing: 12px;

}

    .p2{
        font-size: 20px;
        font-family: sans-serif;
        /* border: 2px solid rgb(14, 65, 99); */
        border-radius: 6px;
        display: inline;
        padding: 4px 3px;
        margin: 20px 2px;
        /* background-color: white; */
    }.homep{
        color: rgb(2, 45, 80);
        /* background-color: none !important; */
        font-size: 1.3rem;


    }@media (max-width:700px){
.main{
    display: flex;
    flex-direction: column;

}
.main .container h2{
    font-size: 2rem;
}
input{
    width: 11rem;
}
.main .container .btn
{
    width: 11rem;
}


    }